body {
  margin: 0;
  font-family: sans-serif;
}

h1, h2, h3 {
  margin-bottom: 10px;
}

button {
  padding: 10px 20px;
  background-color: #007f5f;
  color: white;
  border: none;
  cursor: pointer;
}
